# === CREDENCIALES (obligatorias) ===
DISCORD_TOKEN=tu_token_aqui
MONGO_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/?retryWrites=true&w=majority&appName=nombre

# === IDs DE DISCORD (obligatorias) ===
# ID del servidor de Discord
GUILD_ID=
# Canal donde se publican los splits disponibles
CANAL_SPLITS_ID=
# Categoría donde se crean los canales privados de splits
CATEGORIA_SPLITS_ID=
# Canal de logs del bot
CANAL_LOGS_ID=
# Canal de donaciones
CANAL_DONACIONES_ID=
# Rol que permite tomar y crear splits
ROL_SPLIT_LOOTER_ID=
